body{
  background-color: #EEEEEE;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.clearfix {
  overflow: auto;
}

#header{
  width: 100%;
  position: fixed;
  background-color: #EEEEEE;
  height: 100px;
}

#container{
  width: 60%;
  margin: 0 auto;
  text-align:center;
  padding-top: 100px;
}

#header-img{
  width: 30%;
  float: left;
}

nav{
  float: right;
  font-size: 20px;
  padding-top: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li{
  display: inline;
  margin-left: 60px;
}

li a{
  text-decoration: none;
  color: #151515;
}

input{
  width: 250px;
  height: 25px;
  margin-bottom: 15px;
}

#get-started{
  background-color: #F1C40F;
  border: none;
  font-weight: bold;
  padding: 5px 10px;
  margin-bottom: 100px;
}

.icon{
  float: left;
}

#premium-materials{
  margin-bottom: 50px;
}

#fast-shipping{
  margin-bottom: 50px;
}

#quality-assurance{
  margin-bottom: 50px;
}

#features-header{
  text-align: left;
  margin-left: 100px;
  padding-top: 10px;
  margin-top: 10px;
  margin-bottom: 0;
}

#features-span{
  display: block;
  text-align: left;
  margin-left: 100px;
}

iframe{
  margin-top: 30px;
}

#flexbox-wrapper{
  display: flex;
  justify-content: space-between;
}

#column{
  border: 1px solid black;
  width: 30%;
  height: 350px;
  line-height: 1.8;
  font-size: 20px;
  border-radius: 2px;
  margin-top: 60px;
}

.title-space{
  background-color: #DDDDDD;
  height: 40px;
  padding-top: 1px;
  padding-bottom: 30px;
}

#cost{
  font-weight: bold;
  font-size: 32px;
}

#select{
  background-color: #F1C40F;
  border: none;
  padding: 10px;
  border-radius: 2px;
  margin-top: 20px;
}

#footer-nav{
  height: 50px;
  background-color: #DDDDDD;
  margin-top: 60px;
  padding-top: 40px;
}




@media screen and (max-width: 991px) {
/* start of large tablet styles */
#header{
  width: 100%;
  position: fixed;
  background-color: #EEEEEE;
  height: 80px;
}

#header img{
  padding-top: 20px;
  padding-left: 20px;
}

#header nav{
  padding-right: 40px;
}

#container{
  width: 90%;
  margin: 0 auto;
  text-align:center;
  padding-top: 100px;
}
}


@media screen and (max-width: 767px) {
/* start of medium tablet styles */
iframe{
  margin-top: 30px;
  margin-bottom: 60px;
}

#flexbox-wrapper{
  flex-direction: column;
  align-items: center;
}

#column{
  border: 1px solid black;
  width: 50%;
  height: 350px;
  line-height: 1.8;
  font-size: 20px;
  border-radius: 2px;
  margin-top: 10px;
}

}




@media screen and (max-width: 479px) {
/* start of phone styles */

#header{
  width: 100%;
  position: fixed;
  background-color: #EEEEEE;
  height: 150px;
}

#header-img{
  width: 70%;
  float: none;
  display: block;
  margin: auto;
}

nav{
  float: none;
  font-size: 20px;
  padding-top: 20px;
  margin: auto;
}

li{
  display: block;
  margin-bottom: 3px;
  text-align: center;
}

#container{
  width: 100%;
  margin: 0 auto;
  text-align:center;
  padding-top: 150px;
}

.icon{
  float: none;
  display: none;
}

#features-header{
  display: block;
  text-align: center;
  padding-top: 10px;
  margin-top: 10px;
  margin-left: 0;
}

#features-span{
  display: block;
  text-align: center;
  margin-left: 0;
}

iframe{
  margin-top: 30px;
  margin-bottom: 60px;
  width: 100%;
}

#flexbox-wrapper{
  flex-direction: column;
  align-items: center;
}

#column{
  border: 1px solid black;
  width: 70%;
  height: 350px;
  line-height: 1.8;
  font-size: 20px;
  border-radius: 2px;
  margin-top: 10px;
}
}